*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 1s;
}
html{
	scroll-behavior: smooth;
}
::-webkit-scrollbar	{
	width: 5px;
}
::-webkit-scrollbar-thumb{
	background: black;
}
.navbar{
	display: flex;
	align-items: center;
	position: relative;
	width: 90%;
	margin: 0px auto;
	height: 10vh;
}
.navbar .nametagDef{
	color: black;
	text-decoration: none;

}
.navbar h1{
	font-size: 26px;
	letter-spacing:10px;
	font-family: 'poppins',sans-serif;
}
.navbar .nm{
	font-weight: 200;
}
.hamburger{
	cursor: pointer;
	z-index: 2;
	height: 9vh;
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	font-size: 30px;
}
.link{
	z-index: 1;
	position: absolute;
	top: 0;
	width: 85%;
	left: -95%;
	flex-direction: column;
	background: black;
	height: 100vh;
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-between;
}
.link-content{
	width: 100%;
	margin-top:20px;
	position: relative;
	height: 20vh;
	justify-content: space-around;
	flex-direction: column;
	display: flex;
	align-items: center;
}
.social-link li a{
	font-size: 30px;
}
.nametag{
	color: white;
	text-decoration: none;
	margin: 35px auto;
}
.link li a{
	text-decoration: none;
	font-weight: 200;
	color: white;
	font-family: 'poppins',sans-serif;
}
.social {
	height: 60vh;
	width: 100%;
	text-align: center;
	color: white;
}
.social h1{
	font-family: 'poppins',sans-serif;
	font-weight: 300;
	font-size: 30px;
}
.hero h1{
	font-family: "poppins",sans-serif;
	font-weight: 800;
	font-size: 80px;
	letter-spacing: 1px;
	line-height: 90px;
}
.hero .head{
	padding-top: 100px;
	
}
.hero{
	height: 79vh;
	width: 90%;
	margin: 0px auto;
}
.hero p{
	font-weight: 200;
	padding-top:10px;
	font-size: 20px;
	font-family: "poppins",sans-serif;
}
.profile{
	display: flex;
	align-items: center;
	height: 100vh;
	width: 90%;
	margin: 0px auto 0px auto;
	text-align: center;
}
.profile-content{
	max-width: 400px;
	margin: 0px auto;
}
.profile-content p{
	font-size: 20px;
	font-weight: 200;
	font-family: 'poppins',sans-serif;

}
.profile-content h1{
	font-size: 50px;
	font-family: 'poppins',sans-serif;
}
.skills{
	
	align-items: center;
	height: max-content;
	width: 90%;
	margin: 0px auto;
}
.skill-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 80%;
	margin: 0px auto;
}
.skills h1{
	text-align: center;
	font-weight: 800;
	font-family: "poppins",sans-serif;
	font-size: 50px;
}
.list{
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0px auto;
	justify-content: space-between;
	list-style: none;
}
.list li{
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 400px;
	box-shadow: 0px 1px 20px 0px #545454;
	margin: 30px auto;
}
.list li p{
	color: white;
	font-weight: 800;
	font-family: "poppins",sans-serif;
	margin-left: 5px;
	font-size: 50px;
}
.li:nth-child(1){
	background: rgb(230,84,29);
}
.li:nth-child(2){
	background: #EAD41C;
}
.li:nth-child(3){
	background: #228AC2;
}
.project{
	width: 100%;
	height:max-content;
}
.project h1{
	text-align: center;
	font-family: 'poppins',sans-serif;
	font-size: 46px;
	font-weight: 800;
	padding: 100px 0px 0px 0px;
}
.isi-project img{
	display: block;
	margin: 0px auto;
	width:100%;
}
.project-wrap{
	display: flex;
	width: 70%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 50px auto;
}
.isi-project{
	font-family: 'poppins',sans-serif;
	display: relative;
	width: 70%;
	height: max-content;
	margin: 25px auto;
}
.isi-project p{
	font-weight: 300;
}
.visit{
	margin: 10px 0px;
	padding: 5px 20px;
	border: none;
	border-radius: 100px;
	background: black;
	color: white;
	font-family: 'poppins',sans-serif;
}
.footer{
	color: white;
	width: 100%;
	position: relative;
	background: black;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer p{
	text-align: center;
	font-family: 'poppins',sans-serif;
}

@media screen and (max-width: 801px){
	.head{
		width: 34%;
	}
}
@media screen and (max-width :800px){
	.hero h1{
		font-size: 80px;
		line-height: 90px;
	}
	.head{
		width: 65%;
	}
	
}
@media screen and (max-width: 428px){
	.hero h1{
		font-size: 55px;
		line-height: 60px;
	}
	.head{
		width: 75%;
	}

}
@media screen and (max-width : 312px){
	.nametagDef{
		display: none;
	}
}